:root {
    --azul-principal: rgb(24, 56, 145);
    --azul-gradiente: rgb(53, 128, 240);
    --naranja: rgb(255, 123, 0);
    --texto: #484e57;
    --fondo-gris: #F8FAFC;
    --blanco: #FFFFFF;
}
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: var(--texto);
    background-color: rgb(255, 254, 254);
    line-height: 1.7;
    font-weight: 600;
}

header {
    background-color: var(--azul-principal);
    padding: 15px 5%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(24, 56, 145);
}
.marca {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    background-color: orange;
    border-radius: 9px;
    height: 50px;
    width: 50px;
    font-size: 27px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}

.nombre-sitio {
    color: white;
    font-size: 27px;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    display: flex;
    gap: 25px;
}

.navbar a {
    color: rgba(255, 255, 255, 0.89);
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
}


.hero {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 80px 10%;
    background: linear-gradient(135deg, rgb(24, 56, 145), rgb(53, 128, 240)); 
    color: white;
}

.hero-info {
    flex: 1; 
    max-width: 800px;
}

.hero-info h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero-info h1 span {
    color: orange; 
}

.hero-info h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 20px;
    opacity: 0.9;
}

.hero-info p {
    font-size: 1.1rem;
    line-height: 1.5;
}

.hero-imagen {
    flex: 0.5;
    display: flex;
    justify-content: center; 
}

.foto-avatar {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
}

.seccion-sobremi {
    padding: 80px 10%;
    background-color: var(--fondo-gris);
}

.titulo-seccion {
    text-align: center;
    margin-bottom: 50px;
    font-size: 27px;
    color: var(--azul-principal);
}
.sub {
    text-align: center;
    margin-bottom: 50px;
    font-size: 21px;
    color: gray;
    font-weight: 500;
}
.linea-naranja {
    width: 80px;
    height: 6px;
    background-color: var(--naranja);
    margin: 10px auto;
    border-radius: 5px;
}

.contenido-sobremi {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: space-between;
}
.bio-texto {
    flex: 2;
}

.bio-texto p {
    font-size: 20px;
    margin-bottom: 20px;
}

.cita-famosa {
    background-color: #f3efeb;
    padding: 20px;
    border-left: 5px solid var(--naranja);
    border-radius: 5px;
    margin-top: 25px;
}

.tarjeta-datos {
    flex: 1;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.tarjeta-datos h3 {
    margin-bottom: 15px;
    color:rgb(24, 56, 145); 
    font-size: 23px;
}

.lista-datos {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-datos li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 20px;
}

.seccion-habilidades {
    padding: 80px 10%;
    background-color: var(--blanco);
}


.contenedor-tabla {
    margin-bottom: 50px;
}

.tabla-skills {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 15px;
    overflow: hidden; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.tabla-skills th {
    background-color: var(--azul-principal);
    color: white;
    padding: 20px;
    text-align: left;
    font-size: 20px;
}

.tabla-skills td {
    padding: 18px 20px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 18px;
}

.tabla-skills tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.tabla-skills tbody tr:nth-child(even) {
    background-color: #23252504; 
}

.tabla-skills tbody tr:last-child td {
    border-bottom: none;
}

.barra-nivel {
    background-color: #e2e8f0; 
    height: 12px;
    border-radius: 10px;
    width: 100%;
    max-width: 250px;
}

.barra-nivel div {
    height: 100%;
    border-radius: 10px;
    transition: width 1s ease-in-out;
}


.nivel-html { 
    width: 20%; 
    background: linear-gradient(90deg, #1e3a8a, #3b82f6); 
}

.nivel-css { 
    width: 10%; 
    background: linear-gradient(90deg, #15803d, #22c55e); 
}

.nivel-javascript { 
    width: 10%; 
    background: linear-gradient(90deg, #b91c1c, #ef4444); 
}

.nivel-github { 
    width: 15%; 
    background: linear-gradient(90deg, #6d28d9, #8b5cf6); 
}

.nivel-react { 
    width: 15%; 
    background: linear-gradient(90deg, #b45309, #f59e0b); 
}

/* Deben llevar un gradidante */


.contenedor-listas {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.tarjeta-habilidad {
    flex: 1; 
    background-color: #fcfcfc;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #f0f0f0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.02);
}

.tarjeta-habilidad h3 {
    margin-bottom: 20px;
    color: var(--azul-principal);
    font-size: 22px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


.etiqueta-red {
    background-color: #ef4444;
    color: white;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 4px;
    text-transform: lowercase;
}

.lista-h {
    padding-left: 20px;
}

.lista-h li {
    margin-bottom: 12px;
    font-size: 18px;
    color: var(--texto);
}

/* La tabla debe ser blanca y vainilla */

.seccion-proyectos {
    padding: 80px 10%;
    background-color: var(--fondo-gris);
}


.grid-proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}


.color-purpura { background: linear-gradient(135deg, #818cf8, #6366f1); }
.color-rosado  { background: linear-gradient(135deg, #fb7185, #f43f5e); }
.color-cian    { background: linear-gradient(135deg, #22d3ee, #0ea5e9); }
.color-verde   { background: linear-gradient(135deg, #4ade80, #10b981); }
.color-naranja { background: linear-gradient(135deg, #fbbf24, #f59e0b); }
.color-lavanda { background: linear-gradient(135deg, #c084fc, #a855f7); }


.card-proyecto {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-proyecto:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
}

.visual {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
}

figcaption {
    padding: 25px;
}

.tag {
    font-size: 14px;
    color: #64748b;
    margin-bottom: 8px;
    font-weight: 500;
}

figcaption h3 {
    font-size: 24px;
    color: var(--azul-principal);
    margin-bottom: 12px;
}

figcaption p {
    font-size: 16px;
    color: #475569;
    margin-bottom: 20px;
    line-height: 1.6;
}

.repo-link {
    color: var(--azul-principal);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.repo-link:hover {
    text-decoration: underline;
}


.seccion-contacto {
    padding: 80px 10%;
    background-color: var(--blanco);
}

.contenedor-flex-contacto {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: flex-start;
}

/* FORMULARIO */
.formulario-contacto {
    flex: 2; 
}

.fila-inputs {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.grupo-input {
    flex: 1;
    margin-bottom: 20px;
}

.grupo-input label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--azul-principal);
}

.grupo-input input, 
.grupo-input select, 
.grupo-input textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f8fafc;
    font-size: 16px;
    font-family: inherit;
}

.grupo-input textarea {
    height: 150px;
    resize: none;
}

.btn-enviar {
    width: 100%;
    background-color: var(--azul-principal);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer; 
    transition: background 0.3s;
}

.btn-enviar:hover {
    background-color: var(--azul-gradiente);
}


.info-card {
    flex: 1;
    background-color: #f8fafc;
    padding: 40px;
    border-radius: 15px;
}

.info-card h3 {
    margin-bottom: 30px;
    color: var(--azul-principal);
}

.dato-contacto {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.icono {
    background-color: var(--azul-principal);
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

footer {
    background-color: var(--azul-principal);
    color: white;
    padding: 40px 10% 20px;
}

.footer-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 30px;
}

.footer-marca {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nombre-footer {
    font-size: 24px;
    font-weight: bold;
}

.redes-sociales {
    display: flex;
    gap: 15px;
}

.social-box {
    background-color: rgba(255,255,255,0.1);
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
}

.copyright {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    opacity: 0.8;
}